@model List<Proj_BTL_NguyenMinhQuang_2018600016.Models.tblCategory>

@foreach (var item in Model)
{
    <li><a href="/tblProducts/ClientProductByCat?cat=@item.Categoryid"> @item.CategoryName </a></li>
}
