
@{
    ViewBag.Title = "Welcome";
}

<style>
    .admin_content {
        font-size: 24px;
        line-height: 300px;
        width: 100%;
        text-align: center;
        color: dodgerblue;
        font-weight: bold;
    }
</style>
@if (Session["account"] == null)
{
    <p style="text-decoration:underline;">@Html.ActionLink("Vui lòng đăng nhập quản trị", "Index", "Admin")</p>
}
else
{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    <div class="admin_content">Chào mừng bạn đến với trang trị website. Nơi đây giúp bạn quản lý thông tin về sản phẩm, danh mục... được đăng tải trên trang chủ.</div>
}
