
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    span{
        font-weight:bold;
    }
    
    p{
        font-size:20px;
        line-height:1.5;
    }
</style>

<h2>Mão Mèo là ai?</h2>
<p>
    Có thể nhiều bạn chưa biết, nhưng thật ra “Mão Mèo” ở đây là nghệ danh của một người chơi sáo - đam mê sáo - sản xuất sáo trúc đang rất có uy tín trong cộng đồng sáo trúc Việt Nam. <br /> <br />

    <span>Mão Mèo  tên thật là: </span> Nguyễn Văn Mão, <span>sinh ngày: </span> 18/06/198x <br />
    <span>Quê gốc: </span> Xã Xuân sơn - Đô Lương - Nghệ An<br />
    <span>Nhà ở:</span> Thị trấn Tân Kỳ - Huyện Tân Kỳ - Nghệ An<br /><br />

    Được cha hướng dẫn và biết thôi sáo năm 1995 và ra Hà Nội và tham gia phong trào sáo trúc từ năm 2009. Cuối năm 2009 Mão đã sáng chế được loại sáo cho riêng mình. Năm 2010 đi bán sáo cho toàn quốc và gửi sáo của mình đến hơn 20 quốc gia trên thế giới.<br />
    <br /><span>Hiện tại Mão Mèo là: </span> Chủ nhiệm CLB sáo trúc miền bắc, là Chủ nhiệm CLB sáo trúc Miền Bắc và cũng là người sáng lập ra các CLB sáo trúc trên địa bàn Hà Nội như CLB sáo trúc Đại học Quốc gia Hà Nội, CLB sáo trúc Hà Đông, Phùng Khoang... Đồng thời Mão đang là chủ của chuỗi shop bán sáo và các sản phẩm nhạc cụ mang thương hiệu Sáo trúc Mão mèo - Thương hiệu đã được đăng ký độc quyền với cục sở hữu trí tuệ Việt Nam.<br />

    <br />
    Mão cũng là người sở hữu kỷ lục Guinness cây sáo trúc dài nhất việt nam.<br /><br />

    <i style="color:red; font-weight:bold;">Đài truyền hình việt nam đã làm khác nhiều chương trình về các CLB sáo trúc, về niềm đam mê với sáo của chủ nhiệm Mão Mèo.</i>

    <br /><br />
    <span>Xem thêm về Mão:</span><br />
</p>
    <br/> 
    <div class="introductive_video">
        <div class="row">
            <div class="child_element">
                <iframe src="https://www.youtube.com/embed/vlH9b9xQDfU" allowfullscreen></iframe>
                <a href="https://www.youtube.com/watch?v=vlH9b9xQDfU">VTV1 - Việc tử tế: Chàng trai giữ âm thanh cây sáo</a>
            </div>

            <div class="child_element">
                <iframe src="https://www.youtube.com/embed/zIvevXY76Gc" allowfullscreen></iframe>
                <a href="https://www.youtube.com/watch?v=zIvevXY76Gc">VTV1 - Nét đẹp dân gian: Chàng trai Mão Mèo lan tỏa tình yêu nghệ thuật với cây sáo trúc</a>
            </div>

            <div class="child_element">
                <iframe src="https://www.youtube.com/embed/mBaTWX3vng4" allowfullscreen></iframe>
                <a href="https://www.youtube.com/watch?v=mBaTWX3vng4">Đài VTV3 tới quay video xưởng sản xuất sáo trúc lớn nhất Việt Nam</a>
            </div>

            <div class="child_element">
                <iframe src="https://www.youtube.com/embed/7fh-5l-MqiI" allowfullscreen></iframe>
                <a href="https://www.youtube.com/watch?v=7fh-5l-MqiI">Sáo trúc Mão Mèo trên sóng đài truyền hình Việt Nam</a>
            </div>
        </div>

        <div class="row">
            <div class="child_element">
                <img src="~/Content/images/others/intro2.jpg" />
                <a href="https://vtvgo.vn/kho-video/ngay-moi-voi-nghe-nhan-sao-truc-mao-meo-viet-nam-thuc-giac-820992.html">VTV1 - Việt Nam thức giấc: Ngày mới với nghệ nhân sáo trúc Mão Mèo</a>
            </div>
            <div class="child_element">
                <img src="~/Content/images/others/intro3.jpg" />
                <a href="https://vtv.vn/vtv6/truc-tiep-the-he-so-18h30-ngay19-08-2019-chop-thoi-co-de-thuc-hien-dieu-khac-biet-2019081922551039.htm">VTV6 - Thế hệ số: Chớp thời cơ để thực hiện điều khác biệt</a>
            </div>
            <div class="child_element">
                <img src="~/Content/images/others/intro4.jpg" />
                <a href="https://vtv.vn/video/hanh-phuc-la-gi-anh-nguyen-van-mao-445842.htm">VTV3 - Hạnh phúc là gì? : Anh Nguyễn Văn Mão</a>
            </div>
            <div class="child_element">
                <img src="~/Content/images/others/intro5.jpg" />
                <a href="https://www.youtube.com/watch?v=_3GqViCcDCw">VTV1: Chàng trai trẻ đưa ống hút tre Việt ra thế giới</a>
            </div>
        </div>

        <div class="row">
            <div class="child_element">
                <iframe src="https://www.youtube.com/embed/xvU2gVPPf-Q" allowfullscreen></iframe>
                <a href="https://www.youtube.com/watch?v=xvU2gVPPf-Q">Cà phê sáng VTV3 - Sáo trúc Mão Mèo</a>
            </div>

            <div class="child_element">
                <iframe src="https://www.youtube.com/embed/Pyf2plXzjrg" allowfullscreen></iframe>
                <a href="https://www.youtube.com/watch?v=Pyf2plXzjrg">VTV1 - Start Up Việt: 10 triệu ống hút tre xuất khẩu sang nước ngoài mỗi tháng</a>
            </div>

            <div class="child_element">
                <iframe src="https://www.youtube.com/embed/oH9F9l_WsVY" allowfullscreen></iframe>
                <a href="https://www.youtube.com/watch?v=oH9F9l_WsVY">Ống hút tre Việt Nam trên VTV3</a>
            </div>

            <div class="child_element">
                <iframe src="https://www.youtube.com/embed/gI4zR-1XSxc" allowfullscreen></iframe>
                <a href="https://www.youtube.com/watch?v=gI4zR-1XSxc">NTV: Nghệ nhân ưu tú Nguyễn Văn Mão giữ gìn văn hóa dân tộc</a>
            </div>
        </div>
    </div>
