
@{
    ViewBag.Title = "Intro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    p{
        line-height:1.5;
    }
</style>

<h2>Giới thiệu một số loại sáo ngang thông dụng</h2>

<p>
    Xin chào các bạn!<br />
    Như các bạn đã biết là khi đam mê, yêu thích sáo các bạn sẽ muốn tìm tòi rồi thử tất cả các loại sáo. Nhưng sáo nó quá đa dạng và phong phú. Nên để tìm cho bản thân có một cây sáo phù hợp không đơn giản nhưng không hẳn là quá khó. Vì thế hôm nay tôi sẽ giới thiệu tới các bạn <b>một số loại sáo ngang thông dụng</b> nhất để các bạn chơi sáo nghiệp dư hiểu rõ và chọn được cây sáo chơi ưng ý.<br />
    Trước hết tôi sẽ giới thiệu đến các bạn cây <b>sáo ngang</b> thông dụng nhất đó là:<br />
    <b>Sáo Đô</b>, ký hiệu là <b>C5</b> : Vì ở cây sáo đô nó có nòng ống vừa phải nên sẽ không khiến các bạn tốn hơi nhiều. hơn nữa là ở các lỗ bấm lại có khoảng cách tương đối đều nhau và khi các bạn thổi sẽ giúp các bạn không những không tốn hơi mà còn có thể thoải mái,dễ dàng linh hoạt ở các ngón bấm khi các bạn chơi một bài dài hay nhiều bài. với âm thanh thì sáo đô không quá trầm cũng không quá cao , rất hợp với người nge.Vì thế, rất phù hợp với mọi độ tuổi và sử dụng được lâu dài.<br />
    <b>Sáo Pha Trầm (F4)</b>: Ở cây sáo này thì nòng ống của sáo rộng hơn và các lỗ bấm cũng cách xa nhau chính vì thế mà khi diễn tấu các bạn sẽ mất nhiều hơi hơn, các ngón tay phải dãn rộng hơn nên các bên chưa chơi quen sao pha trầm này thì sẽ tạo cảm giác mất hơi và mỏi tay, vậy tại sao nó vẫn là <b>loại sáo ngang thông dụng</b>? bởi vì sáo pha có thể giúp các bạn chơi với những bài có nốt trầm, ấm mà sáo đô không có. Nên nó luôn được ưu tiên cho các bài trầm, buồn mà không ưu tiên các nốt cao , đây là điều mà các bạn cần lưu ý khi chơi sáo.<br />
    <b>Sáo Son Trầm (G4)</b> Là Loại sáo cao hơn sáo pha, so với sáo pha thì sáo son có nòng ống nhỏ hơn và khoảng cách các lỗ bấm cũng ngắn hơn chứ không choãi dài như sáo pha. Hợp với các bạn thổi các bài trầm nhưng hơi chưa đủ mạnh để thổi sáo pha.<br />
    <b>Sáo La Trầm ( A4 )</b> Là loại sáo cao hơn với son trầm. Tất nhiên nó sẽ trầm hơn sáo đô và cao hơn sáo son vì thế mà khoảng cách các lỗ bấm sẽ ngắn hơn.<br />
    <b>Sáo Si Giáng ( B4 ):</b> Ở đây tôi giới thiệu sáo si dán vì sáo si không thông dụng khi sử dụng. Nó có nòng ống to hơn đô 1 chút và nhỏ hơn la, khoảng cách tay cũng vừa phải hơn khi các bạn thổi. Với loại sáo si dán này thì phù hợp với các bạn yêu thích nhạc trẻ.<br />
    <b>Sáo Rê ( D5 )</b> : Với sáo rê thì khoảng cách các lỗ bấm rất gần nhau, nên khi thổi các ngón tay của bán sẽ sít nhau và nòng sáo sẽ nhỏ hơn đô 1 chút. Ở sáo si thì các bạn phải tiết chế lượng hơi ít hơn vì nếu thổi mạnh như sáo pha thì cây sáo nó sẽ bị xì, những người chơi nhiều như hoạt động quần chúng thì người ta không dùng loại sáo này mà dành nhiều cho các bạn chuyên nghiệp bên nhạc viện.<br />
    <b>Sáo Mi ( E5 ) </b> Dòng sáo cao hơn nữa đó là sáo mi, có nòng ống nhỏ hơn sáo rê và các khoảng cách của lỗ bấm cũng ngắn hơn sáo rê.<br />
</p>

<div style="text-align:center;">
    <img src="~/Content/images/others/intro6.png"/> <br />
    Sáo Ngang - Sáo trúc Mão Mèo    
</div>
<br />
<p>
    Trên đây là một số loại <b>sáo ngang</b> thông dụng nhất mà tôi đã giới thiệu đến các bạn, hy vọng sẽ co ích cho các bạn khi chọn sáo cũng như chọn tác phẩm để thổi.
    <br />
    Chúc các bạn thành công!
</p>
