
@{
    ViewBag.Title = "Maintain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    p{
        line-height:1.5;
    }
</style>

<h2>Cách tiêu diệt mối, mọt cho sáo trúc Mão Mèo</h2>

<p>
    Xin chào các bạn! <br /> <br />

    Hôm nay tôi sẽ nói về kho nguyên liệu của cơ sở <b>sản xuất sáo trúc Mão Mèo</b> . Kho nguyên liệu gồm nứa, trúc để sản xuất ra những sản phẩm đến tay người chơi sáo. <b>Cơ sở sản xuất sáo của Mão Mèo</b> cũng không thể tránh khỏi thất thoát và hư hỏng do mối, mọt gây nên. Chúng thường sinh sản và phát triển vào những nơi ẩm mốc và sẽ ăn sâu vào lòng những cây trúc, cây nứa. Để khắc phục những thất thoát, hư hỏng do mối, mọt gây ra, Hôm nay tôi sẽ hướng dẫn các bạn cách <b>tiêu diệt mối, mọt cho sáo trúc</b>.
</p><br />

<div style="text-align:center;">
    <img src="~/Content/images/others/process.png" width="1200" height="500"/> <br />
    Xử lý mối mọt cho sáo trúc Mão Mèo
</div>

<p>
    Tôi đã tiến hành một thí nghiệm để các bạn thấy được rõ hơn: <br /><br />
    Chuẩn bị: <br />
    - Muối.<br />
    - Hai bát nước lạnh (lã).<br /><br />
    Tiến hành:<br />
    - Tôi đã có hai bát nước, một bát có muối và một bát không có muối. Bát có muối tôi sẽ khuất cho muối đạt ở trạng thái bão hòa và không thể tan hơn được nữa. Tôi đập vỡ cây sáo bên trong có mọt, tôi sẽ bắt con mọt cho vào hai bát đã được chuẩn bị. thì chỉ cần trong một thời gian ngắn thôi tôi đã có kết quả như sau:<br />
    + Ở bát nước lạnh không có muối thì con mọt vẫn có thể bò đi bò lại bình thường.<br />
    + Ở bát nước có muối thì con mọt chỉ ở một chỗ, không thể bò đi, bo lại và trong thời gian rất ngắn con mọt đã chết.<br /><br />
    Sau khi thử nghiệm thành công thì tôi đã dùng thường xuyên để ngâm cho tất cả số lượng sáo của tôi và từ đó tôi không còn phải đau đầu suy nghĩ làm sao để <b>tiêu diệt mối, mọt cho sáo trúc</b>. Vì những những cây trúc, cây nứa mà khai thác vào tháng 8, tháng 9 âm lịch thì đây là thời điểm sinh sản mạnh nhất của các loại ấu trùng. Nên ở các vùng miền người ta thường khai thác vào tháng 3, tháng 4 để hạn chế tối đa sự phát triển của mối, mọt. Người ta vẫn thường nói câu về cây trúc và cây nứa: <b>“Non tháng 3 còn hơn già tháng 8”</b>.  Vì vậy mà tôi thường chọn mùa khai thác nguyên liệu vào tháng 3 và tháng 4. Nhưng trong kho luôn có hàng sẵn và không thể tráng khỏi mối, mọt đã xâm nhập , nếu không ngăn chặn kịp thời thì nó sẽ sinh sản và phát triển rất là nhanh và nhiều vô kể. Vậy, bây giờ tôi sẽ hướng dẫn các bạn ngâm như sau:
    <br />
    Tôi sẽ cho 8kg muối hạt vào một xô nước lạnh (lã) cỡ lớn và khuấy đều muối đạt ở trạng thái bão hòa. Cho các cây sáo đã được làm vào dung dịch , trong quá trình ngâm thì tinh thể muối nằm trong dung dịch nước muối sẽ thấm vào các thớ cây trúc và cây nứa. Khi các ấu trùng sẽ tiếp xúc trực tiếp với dung dịch muối loãng này thì nó sẽ chết đi.

    Khi cho các cây sáo vào xô nước thì nó sẽ bị nổi lềnh bềnh vì trong mỗi cây sáo có nút chặn làm bằng xố. Bạn  hãy ngâm lỗ bấm xuống dưới, lỗ thổi lên trên và dùng một vật phù hợp ( rổ,….) đè lên giúp cây sáo ngập xuống. Sau đó đậy nắp vào và dùng một vật nặng đè lên trên. Thời gian thích hợp để ngâm là từ 15 đến 20 phút, sau khoảng thời gian đó bạn vớt sáo ra thì tôi đảm bảo các ấu trùng sẽ không còn sống sót được nữa.

    Nước muối đã pha sẽ dùng lại được rất nhiều lần,mỗi khi tiến hành ngâm thay thế tôi sẽ cho thêm 1kg muối vào vì hàm lượng muối đã được pha rất là cao và nó đã ở trạng thái bão hòa nên dường như không thể làm cho nó tan thêm hơn nữa khi cho thêm muối vào.

    Đây là cách mà tôi thường xuyên dùng cho khối lượng sáo của tôi để <b>tiêu diệt mối, mọt cho sáo trúc</b> và nó đã hiệu quả hơn cả sự mong đợi của tôi.
</p>


