
@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Làm sao để chọn được cây sáo trúc tốt</h2>

<p style="text-align:center;">
    <iframe src="https://www.youtube.com/embed/VOfCx6GiVCA" allowfullscreen width="500" height="450"></iframe>
</p>

<p style="line-height:1.5;">
    <b>Xin chào các bạn!</b>

    Hôm nay tôi  sẽ <b>hướng dẫn các bạn làm sao để chọn được 1 chiếc sáo trúc tốt</b> nhất dành cho mình và dùng được lâu dài. Trước hết tôi muốn nói với các bạn mới bắt đầu <b>tập chơi sáo</b> , thì khi di mua sáo các bạn không phân biệt được <b>chiếc sáo nào hay chiếc sáo nào dở</b> vậy thì có một cách đó là:<br />
    Bạn đi cùng một người biết chơi sáo, nhưng với điều kiện người đó phải chơi sáo khá tốt.<br />
    Vì thường ở các cửa hàng bán sáo, người bán hàng chưa hẳn đã biết chơi sáo tốt nên cũng không thể chọn cho bạn được 1 chiếc sáo hay và bạn cũng  không thể chọn cho mình.
    <b>Buộc bạn phải đi cùng với người biết chơi sáo khá là tốt vì:</b> <br />

    Người biết thổi sáo bình thường thì cũng chỉ biết được là cây sáo này dễ thổi hay khó thổi mà không biết đc chiếc sáo này thổi có hay không.
    Khi các bạn vào trung tâm sản xuất sáo trúc mão mèo thì có rất nhiều loại và thường các bạn sẽ đặt ra một câu hỏi. <b>“làm sao e chọn được 1 cây sáo tốt?”.</b> tất nhiên khi các bạn đã đến với trung tâm sáo trúc mão mèo là các bạn đã đặt niềm tin về chất lượng thì buộc chúng tôi phải làm tốt được điều đó mà bạn không cần nhờ tới ai khác và trung tâm chúng tôi sẽ giúp bạn chọn được một cây sáo tốt, nhưng: <br />
    Đó là các bạn mua đúng sáo của trung tâm chúng tôi.
    
    <b>Vậy mua sáo ở các cửa hàng khác thì sao?</b>

    Thường các bạn  chọn sáo sẽ chọn những cây sáo lên được quãng 2 và quãng 3 vì nghĩ đó là một cây sáo hay. Nhưng đó là 1 cách nghĩ sai lầm vì với một người làm sáo chuyên nghiệp thì để làm đc 1 cây sáo lên được quãng 2, quãng 3 là không hề khó khi họ đã nắm được một số nguyên tắc cơ bản về cách làm sáo.

    <b>Vậy tôi sẽ hướng dẫn cho các bạn như sau, trước hết:</b><br />

    Bạn chọn một cây sáo dễ kêu<br />
    Rồi bạn thổi từng nốt một<br />
    Chạm tay nhẹ nhàng, thổi mà cảm nhận đc dộ rung ở đầu các ngón tay thì bạn hãy chọn cây sáo đó. vì cây sáo rung tốt là nhờ hộp cộng hưởng của nó và cây sáo đó bạn sẽ dùng đc lâu dài.<br />
    Bạn không nên chọn cây sáo có các nốt bằng nhau vì đó chỉ là cây sáo chợ mà người ta không hề đo độ chuẩn khi làm sáo. Người ta chỉ làm cho vừa các ngón tay mà không hề hiểu từ nốt này đến nốt kia là....<br />
    Nhìn cây sáo đã lệch hai nốt mi, pha là cây sáo đã đc đo bằng cây sáo chuẩn.<br />
    Khi mới chơi sáo bạn nên chọn sáo đô.<br />
    
    <b>Đo âm sáo bằng gì?</b><br />

    Khi bạn muốn đo âm sáo hãy đo với nhạc bist, đàn ocgan, đàn piano hoặc dàn nhạc và không nên đo bằng máy.<br />

    <b>Khi bạn chọn được cây sáo tốt và thổi sáo tốt rồi thì càng lâu các bạn sẽ thổi càng hay nên các bạn đừng bỏ nó đi nhé.</b>
</p>
<br />
<div style="text-align:center; font-style:italic; font-size:20px;">Chúc các bạn chọn được cho mình cây sáo ưng ý!</div>