.category_tittle{
	background-color: #e60000;
	width:197px;
	color: white;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

nav ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	width:196px;
}

nav ul li{
	width:196px;
}
nav>ul{
	border: 1px solid lightgray;
	background-color: #f2f2f2;
}

nav>ul>li:not(:last-child){
	border-bottom:1px solid lightgray;
}

nav ul li a {
	text-decoration: none;
	color: black;
	padding-left: 10px;
	line-height: 50px;
	font-size: 16px;
	display: block;
	text-transform: uppercase;
}
nav ul li a:hover{
	background-color: red;
	text-decoration:none;
}
.cha{
	position: relative;
}
#cap2{
	background-color:red;
	position: absolute;
	width:150px;
	left:150px;
	top:0px;
	display: none;
	flex-direction: column;
}
#cap2 li a{
	text-align: left;
	padding-left: 10px;
}
#cap2 li a:hover{
	background-color: yellow;
	color:red;
}
.cha:hover #cap2{
	display: flex;
}

nav .support{
	display:flex;
	height:30px;
	align-items:center;
}
